<% const d = new Date()
let year = d.getFullYear() %>
<footer class="footer">
  <a title="Click to see error" href="/account/error">Error Link</a>
  <p class="copyright">&copy;<%= year %>, Portifolio Car App</p>
</footer>