
<div class="all">
    <section class="welcome" >
        <div class="today">
            <h2>Welcome to Portifolio Car App!</h2>
            <p>Empowering car dealerships with an innovative portfolio platform.</p>
            <%# Activity for unit 4 %>
            <%# messages() %>
            <div class="summary">
            <h2>DMC Delorean</h2>
            <p>3 Cup Holders </p>
            <p>Superman doors</p> 
            <p>Fuzzy dice!</p>
            <img src="../images/site/own_today.png" alt="click" class="click">
            <img src="../images/vehicles/dolorean.jpg">
            </div>
        <div class="hero">
        </div>
    </section>
    <section class="specs">
        <div class="left-side">
            <h2>Delorean Upgrades</h2>
            <div class="upgrades">
            <div class="box">
                <img src="../images/upgrades/flux-cap.png" alt="flux">
            </div>
            <a href="#"><span class="flux">Flux Capacitor</span></a>

            <div class="box1">
                <img src="../images/upgrades/flame.jpg" alt="flame">
            </div>
            <a href="#"><span class="flame">Flame Decals</span></a>
        
            <div class="box2">
                <img src="../images/upgrades/bumper_sticker.jpg" alt="bumper">
            </div>
            <a href="#"><span class="bumber">Bumper Stickers</span></a>
            <div class="box3">
                <img src="../images/upgrades/hub-cap.jpg" alt="caps">
            </div>
            <a href="#"><span class="caps">Hub Caps</span></a>
        </div>
    </div>
        
        <div class="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like travelling in time." <br>
                     (4/5)</li>
                <li>"Coolest ride on the road." <br>  
                    (4/5)</li>
                <li>"The most futuristic ride of our day" <br>
                     (4.5/5)</li>
                <li>"80's livin and loving it!"  <br>
                    (5/5)</li>
            </ul>
            <br>
            <a href="https://portifolio-o02j.onrender.com/" target="_blank">
                <img src="../images/upgrades/Application-Button-300x103.png" alt="Application" style="width: 100px; height: 50px;">
              </a>
            <h4>About</h4>
            <p>The idea for this project came from my love for technology and automobiles. I wanted to create a system that would simplify car dealership management while offering users an intuitive experience.</p>
            <p>This is a Portfolio Project for Holberton School: <a href="https://intranet.alxswe.com/projects/565">Link</a></p>
            <br>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/nomore-zhanje/" target="_blank">
                  <img src="../images/upgrades/linkedin-logo-png-2026.png" alt="LinkedIn" style="width: 30px; height: 30px;">
                </a>
                <a href="https://github.com/nomorezhanje23/portifolio/" target="_blank">
                  <img src="../images/upgrades/github-logo-icon-16168.png" alt="GitHub" style="width: 30px; height: 30px;">
                </a>
                <a href="https://x.com/nomorezhanje23/" target="_blank">
                  <img src="../images/upgrades/twitter-icon-72.png" alt="Twitter" style="width: 30px; height: 30px;">
                </a>
              </div>
        </div>
    </section> 
</div>