<%# Unit 4 Assignment %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <%# Add an if statement here for the name CHECK IF THIS IS CORRECT! 
   
  < % if (name) { % >
    <h1>< %= name % ></h1>
    < % } else {
      res.redirect('/inv')
    } % >
  
  %>

<li><a href="/inv/add-classification" title="Click to add new Classification">Add New Classification</a></li><br>
<li><a href="/inv/add-inventory" title="Click to add new Inventory">Add New Vehicle</a></li>


<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p> 
<br>
<%- classification %> <%# Refer to the add new vehicle tab to see how the code should look like here %>


<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script> 



